<h1>
	<a href="http://archivesspace-staff.lib.duke.edu/">                                                                            
      <img src="/assets/images/rubenstein/rl-logo-white-border-normal-padded-transp-small.png" style="background-color: #001a57;" alt = <%= I18n.t("brand.title") %> />
	</a> <a href="http://archivesspace-staff.lib.duke.edu/">Rubenstein Library ArchivesSpace</a>
</h1>